.header {
  background-color: #282c34;
  height: 50px;
  margin: 0 0 20px 0;
}

.header h1 {
  margin: 0;
  padding-left: 5vw;
  color: aliceblue;
}

.pokemon-list {
  margin: auto;
  width: 90vw;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}
