.pokemon-card {
  border: solid 1px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pokemon-card img {
  height: 96px;
  width: 96px;
  align-self: center;
}

.pokemon-name {
  margin: 0;
  text-align: center;
}

.pokemon-card h6 {
  margin: 0 0 0 10px;
}

.pokemon-types {
  display: flex;
}

.pokemon-types p {
  font-size: smaller;
  margin: 0 0 0 15px;
  text-align: center;
}

hr.solid {
  border-top: 1px solid #bbb;
  width: 90%;
}

.base-stats {
  margin: 0;
}

.base-stats p {
  margin: 0 0 3px 10px;
}
